/20 - Intro to HTML_  Document Structure 1 - Doctype - lang_ar.srt
/3 - IPND HTML Solution - lang_en.srt
/Alll.html
/BreeZip.lnk
/Calculator.lnk
/Calendar.lnk
/class.html
/desktop.ini
/Hard Disk Sentinel.lnk
/IMG_20230403_174036 - Copy - Shortcut.lnk
/Instagram.lnk
/lllllllll.html
/mamma.html
/Microsoft Edge.lnk
/mmmmgg.html
/notes.html
/notes_files
/Pinterest.lnk
/ss.html
/sud.html
/sudu...22.pptx
/sudu.html
/suduu
/suuuuuuuu.html
/The Web and HTML Subtitles
/The Web and HTML Subtitles 2
/The Web and HTML Subtitles.zip
/TikTok.lnk
/Try text.html
/uda city
/Visual Studio Code.lnk